* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* header  */
header .header_logo,
.header_navbar {
  height: 150px;
}
header .header_navbar ul li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
header .header_navbar ul li a i {
  font-size: 10px;
}
header .header_navbar ul li:hover a {
  animation-name: chunhay;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes chunhay {
  form {
    transform: translateY(0px);
  }
  to {
    transform: translateY(30px);
    opacity: 0;
  }
}
header .header_navbar .header_bt button {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  transition: all 0.5s;
}
header .header_navbar .header_bt:hover button {
  background-position: right center;
}

/* banner */
.banner .banner_left .banner_bt button {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  transition: all 0.5s;
}
.banner .banner_left .banner_bt:hover button {
  background-position: right center;
}
.banner .banner_left ul li {
  list-style-type: none;
  padding-left: 16px;
}
.banner .banner_left ul li::before {
  content: "•"; /* Insert content that looks like bullets */
  padding-right: 8px;
  font-size: 36px;
  color: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}
